In [1]:
%pwd

'/Users/Bixing/Google Drive (by783@nyu.edu)/Census digitization'

In [2]:
import pandas as pd
from pandas import ExcelWriter
import numpy as np
import re

In [3]:
file_path='Data/Processed/'
file_1935='1935.xlsx'
file_1948='1948.xlsx'
file_1940='1940.xlsx'
couty_list_path='Data/Input/'+'ipums_usa_identified_counties.xlsx'

# Cannot fix the county with present county name list

In [4]:
df_county_list=pd.read_excel(couty_list_path,header=[0,1],skiprows=None)

In [5]:
df_county_list.head(15)

State   County Name (ICPSR) IPUMS USA Variables
         Unnamed: 0_level_1            STATEFIP COUNTYICP COUNTYFIP
Alabama             Baldwin                   1        30         3
Alabama      Calhoun/Benton                   1       150        15
Alabama              Dallas                   1       470        47
Alabama              Etowah                   1       550        55
Alabama           Jefferson                   1       730        73
Alabama                 Lee                   1       810        81
Alabama             Madison                   1       890        89
Alabama              Mobile                   1       970        97
Alabama          Montgomery                   1      1010       101
Alabama              Shelby                   1      1170       117
Alabama           Talladega                   1      1210       121
Alabama          Tuscaloosa                   1      1250       125
Alabama              Walker                   1      1270       127
Alaska            Anchorage                   2       200        20
Arizona            Coconino                   4        50         5

In [6]:
df_raw_1935=pd.read_excel(file_path+file_1935,header=[0,1],skiprows=None)
df_raw_1940=pd.read_excel(file_path+file_1940,header=[0,1],skiprows=None)
df_raw_1948=pd.read_excel(file_path+file_1948,header=[0,1],skiprows=None)

In [7]:
df_raw_1935.head(3)

                        Total          Food stores       Eating places        \
                Store Numbers  Sales Store Numbers Sales Store Numbers Sales
Autauga County            138   1121            37   165             8    11
Baldwin County            339   3175            95   723            22    58
Barbour County:           249  2.843            81   724            17    41

                General stores (with food)       General merchandise group  \
                             Store Numbers Sales             Store Numbers
Autauga County                          44   529                         3
Baldwin County                          46   589                        10
Barbour County:                         35   320                        13

                              ...         Filling stations  \
                Sales         ...                    Sales
Autauga County     36         ...                       93
Baldwin County     92         ...                      280
Barbour County:   173         ...                      226

                Furniture household radio       Lumber building hardware  \
                            Store Numbers Sales            Store Numbers
Autauga County                          3     z                        4
Baldwin County                         14   138                       13
Barbour County:                         5   198                        9

                        Drug stores        Other stores        \
                Sales Store Numbers Sales Store Numbers Sales
Autauga County     42             5    47             4    51
Baldwin County    285            11   129            24   168
Barbour County:   168            11   115            15   127

                              State
                Unnamed: 24_level_1
Autauga County              Alabama
Baldwin County              Alabama
Barbour County:             Alabama

[3 rows x 25 columns]

In [8]:
df_raw_1940.head(3)

                     Location   Total           Food group          \
              County and city  Stores     Sales     Stores   Sales
0     State Total___2,832,961  23.916  *435.973      8.802  593.91
1    Autauga County----20,977     148   • 1,460         57     481
2  Baldwin County------32,324     381      5018        136    1354

  General stores (with food)          General merchandise group           \
                      Stores    Sales                    Stores    Sales
0                      2.033  636.747                       934  655.497
1                         20      289                         2      (x)
2                         13      288                        18      208

  Apparel group   ...    Grocery, combination stores (Group 1)  \
         Stores   ...                                    Sales
0           915   ...                                    89665
1             5   ...                                      474
2             3   ...                                     1267

  Hardwares stores (Group 8)       Restaurants, other eating places (Group 9)  \
                      Stores Sales                                     Stores
0                        297  8431                                      2.145
1                          2   (x)                                          9
2                          8   268                                         21

         Liquor stores (Group 11)        \
   Sales                   Stores Sales
0  15279                       69  9120
1     16                        —     —
2     72                        3   (x)

  Feed, farm, garden supplies (Group 11)       Location
                                  Stores Sales    State
0                                    340  9809  Alabama
1                                      1   (x)  Alabama
2                                     13   340  Alabama

[3 rows x 36 columns]

In [9]:
df_raw_1948.head(3)

              Location          Total                                     \
       County and city Establishments  Sales Pay roll Active proprietors
0       Autauga County            168  5.068      224                160
1           Prattville             82   3215      188                 82
2  Remainder of County             86   1853       36                 78

                                               Food group        \
  Total paid employees Full workweek employees     Stores Sales
0                  276                     175         82  2084
1                  229                     152         31  1037
2                   47                      23         51  1047

  Eating and drinking places   ...    Automotive group  \
                      Stores   ...               Sales
0                         13   ...                 536
1                         11   ...                 536
2                          2   ...               • • •

  Gasoline service stations       Lumber building, hardware group        \
                     Stores Sales                          Stores Sales
0                        24   646                               3   353
1                        10   178                               3   353
2                        14   468                             ...   ...

  Drug and proprietary stores       All other retail stores         Location
                       Stores Sales                  Stores   Sales    State
0                           3   172                       7  _(*) .  ALABAMA
1                           2   (x)                       6     220  ALABAMA
2                           1   (x)                       1     (x)  ALABAMA

[3 rows x 28 columns]

In [10]:
df_raw_1935.columns

MultiIndex(levels=[['Apparel group', 'Automotive group', 'Drug stores', 'Eating places', 'Filling stations', 'Food stores', 'Furniture household radio', 'General merchandise group', 'General stores (with food)', 'Lumber building hardware', 'Other stores', 'State', 'Total'], ['Sales', 'Store Numbers', 'Unnamed: 24_level_1']],
           labels=[[12, 12, 5, 5, 3, 3, 8, 8, 7, 7, 0, 0, 1, 1, 4, 4, 6, 6, 9, 9, 2, 2, 10, 10, 11], [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 2]])

In [11]:
# calculate the number of county in Alabama in 1935
len(df_raw_1935[df_raw_1935['State']['Unnamed: 24_level_1']=='Alabama'])

153

In [12]:
# calculate the number of county in Alabama in county list
sum(df_county_list.index=='Alabama')

13

# fix the values

In [13]:
def is_number(x):
    if pd.isnull(x): return False
    return isinstance(x, (int, float))

In [14]:
#df_raw_1935[list(df_raw_1935.columns)[0]]

In [15]:
isinstance(1,int)

True

In [16]:
def fix_object(obj):
    if pd.isnull(obj):
        return None
    elif isinstance(obj, int):
        return obj
    else:
        obj_cleaned=re.sub("[^0-9]", "", str(obj))
        # only keep the numbers in the object
        try:
            return int(obj)
        except:
            return None

In [17]:
def return_raw_countyname(string):
    try:
        return re.sub("[^a-zA-Z\s]", "", string)
    except:
        return None
    
def return_population(string):
    try:
        return re.sub("[^0-9]", "", string)
    except:
        return None

In [18]:
#re.sub("[^0-9]", "", 'a1b2 c3d4')

In [19]:
#re.sub("[^a-zA-Z\s]", "", 'a1b2c3d4 A5B6C7D8')

In [20]:
df_1935=df_raw_1935.copy()
df_1940=df_raw_1940.copy()
df_1948=df_raw_1948.copy()

In [21]:
list(df_1935.columns)[:-1]

[('Total', 'Store Numbers'),
 ('Total', 'Sales'),
 ('Food stores', 'Store Numbers'),
 ('Food stores', 'Sales'),
 ('Eating places', 'Store Numbers'),
 ('Eating places', 'Sales'),
 ('General stores (with food)', 'Store Numbers'),
 ('General stores (with food)', 'Sales'),
 ('General merchandise group', 'Store Numbers'),
 ('General merchandise group', 'Sales'),
 ('Apparel group', 'Store Numbers'),
 ('Apparel group', 'Sales'),
 ('Automotive group', 'Store Numbers'),
 ('Automotive group', 'Sales'),
 ('Filling stations', 'Store Numbers'),
 ('Filling stations', 'Sales'),
 ('Furniture household radio', 'Store Numbers'),
 ('Furniture household radio', 'Sales'),
 ('Lumber building hardware', 'Store Numbers'),
 ('Lumber building hardware', 'Sales'),
 ('Drug stores', 'Store Numbers'),
 ('Drug stores', 'Sales'),
 ('Other stores', 'Store Numbers'),
 ('Other stores', 'Sales')]

In [22]:
list(df_1940.columns)[1:-1]

[('Total', 'Stores'),
 ('Total', 'Sales'),
 ('Food group', 'Stores'),
 ('Food group', 'Sales'),
 ('General stores (with food)', 'Stores'),
 ('General stores (with food)', 'Sales'),
 ('General merchandise group', 'Stores'),
 ('General merchandise group', 'Sales'),
 ('Apparel group', 'Stores'),
 ('Apparel group', 'Sales'),
 ('Furniture-household-radio group', 'Stores'),
 ('Furniture-household-radio group', 'Sales'),
 ('Automotive group', 'Stores'),
 ('Automotive group', 'Sales'),
 ('Filling stations', 'Stores'),
 ('Filling stations', 'Sales'),
 ('Lumber-building-hardware', 'Stores'),
 ('Lumber-building-hardware', 'Sales'),
 ('Eating and drinking places', 'Stores'),
 ('Eating and drinking places', 'Sales'),
 ('Drug stores', 'Stores'),
 ('Drug stores', 'Sales'),
 ('Other stores', 'Stores'),
 ('Other stores', 'Sales'),
 ('Grocery, combination stores (Group 1)', 'Stores'),
 ('Grocery, combination stores (Group 1)', 'Sales'),
 ('Hardwares stores (Group 8)', 'Stores'),
 ('Hardwares stores (Group 8)', 'Sales'),
 ('Restaurants, other eating places (Group 9)', 'Stores'),
 ('Restaurants, other eating places (Group 9)', 'Sales'),
 ('Liquor stores (Group 11)', 'Stores'),
 ('Liquor stores (Group 11)', 'Sales'),
 ('Feed, farm, garden supplies (Group 11)', 'Stores'),
 ('Feed, farm, garden supplies (Group 11)', 'Sales')]

In [23]:
list(df_1948.columns)[1:-1]

[('Total', 'Establishments'),
 ('Total', 'Sales'),
 ('Total', 'Pay roll'),
 ('Total', 'Active proprietors'),
 ('Total', 'Total paid employees'),
 ('Total', 'Full workweek employees'),
 ('Food group', 'Stores'),
 ('Food group', 'Sales'),
 ('Eating and drinking places', 'Stores'),
 ('Eating and drinking places', 'Sales'),
 ('General merchandise group, general stores', 'Stores'),
 ('General merchandise group, general stores', 'Sales'),
 ('Apparel group', 'Stores'),
 ('Apparel group', 'Sales'),
 ('Furniture furnishings, appliance group', 'Stores'),
 ('Furniture furnishings, appliance group', 'Sales'),
 ('Automotive group', 'Stores'),
 ('Automotive group', 'Sales'),
 ('Gasoline service stations', 'Stores'),
 ('Gasoline service stations', 'Sales'),
 ('Lumber building, hardware group', 'Stores'),
 ('Lumber building, hardware group', 'Sales'),
 ('Drug and proprietary stores', 'Stores'),
 ('Drug and proprietary stores', 'Sales'),
 ('All other retail stores', 'Stores'),
 ('All other retail stores', 'Sales')]

In [24]:
for col in list(df_raw_1935.columns)[:-1]:
    df_1935[col]=list(map(fix_object,df_raw_1935[col]))

In [25]:
for col in list(df_raw_1940.columns)[1:-1]:
    df_1940[col]=list(map(fix_object,df_raw_1940[col]))

In [26]:
for col in list(df_raw_1948.columns)[1:-1]:
    df_1948[col]=list(map(fix_object,df_raw_1948[col]))

In [27]:
raw_countyidx_1940=(df_raw_1940.columns)[0]

In [28]:
df_1940[raw_countyidx_1940]=list( map( return_raw_countyname, df_raw_1940[raw_countyidx_1940] ))

In [29]:
df_1940[('population','population')]=list( map( return_population, df_raw_1940[raw_countyidx_1940] ))

In [30]:
df_1948

                                               Location          Total  \
                                        County and city Establishments
0                                        Autauga County          168.0
1                                            Prattville           82.0
2                                   Remainder of County           86.0
3                                        Baldwin County          507.0
4                                           Bay Minette           71.0
5                                              Fairhope           65.0
6                                   Remainder of County          371.0
7                                        Barbour County          315.0
8                                Eufaula..............1          115.0
9                                   Remainder of County          200.0
10                                          Bibb County          149.0
11                                        Blount County          254.0
12                                              Oneonta           89.0
13                                  Remainder of County          165.0
14                                       Bullock County          160.0
15                                        Union Springs           79.0
16                                  Remainder of County           81.0
17                                        Butler County          286.0
18                                           Greenville          124.0
19                                  Pemainder of County          162.0
20                                       Calhoun County          789.0
21                                             Anniston          424.0
22                                         Jacksonville           58.0
23                                             Piedmont           83.0
24                                  Remainder of County          224.0
25                                      Chambers County          315.0
26                                               Lanett           62.0
27                                  Remainder of County          253.0
28                                      Cherokee County          145.0
29                                       Chilton County          269.0
...                                                 ...            ...
9336                                       Uinta County          124.0
9337                                           Evanston            NaN
9338                                Remainder of County           53.0
9339                                    Washakie County           87.0
9340                                            Worland           71.0
9341                                Remainder of County           16.0
9342  Weston County............. Yellowstone Nationa...           70.0
9343                                            (part)2           20.0
9344                            First Judicial Division          445.0
9345                                             Juneau          116.0
9346                                          Ketchikan          128.0
9347                              Remainder of Division          201.0
9348                           Second Judicial Division           90.0
9349                            Third judicial Division          492.0
9350                                          Anchorage          208.0
9351                              Remainder of Division          284.0
9352                           Fourth Judicial Division          284.0
9353                                          Fairbanks          121.0
9354                             Remainder of Division—          163.0
9355                                      Hawaii County          755.0
9356                                               Hilo          335.0
9357                                Remainder of County          420.0
9358                             Honolulu County, total         3303.0
9359                                    Warehouses, etc            4.0
9360                                             Stores         3299.0
9361                                           Honolulu         2691.0
9362                                Remainder of County          608.0
9363                                     Kalawao County            NaN
9364                                       Kauai County          326.0
9365                                        Maui County          501.0

                                                                 \
         Sales Pay roll Active proprietors Total paid employees
0          5.0    224.0              160.0                276.0
1       3215.0    188.0               82.0                229.0
2       1853.0     36.0               78.0                 47.0
3      21038.0   1410.0              481.0                985.0
4       4261.0    330.0               71.0                237.0
5       3348.0    256.0               69.0                184.0
6      13429.0    824.0              341.0                564.0
7      10958.0    718.0              335.0                513.0
8       7000.0    583.0              116.0                398.0
9       3958.0    135.0              219.0                115.0
10      6620.0    424.0              121.0                313.0
11      8703.0    493.0              245.0                387.0
12      5533.0    398.0               85.0                279.0
13      3170.0     95.0              160.0                108.0
14      4482.0    261.0              154.0                232.0
15      3423.0    241.0               77.0                202.0
16      1059.0     20.0               77.0                 30.0
17     12726.0    925.0              264.0                671.0
18      8509.0    742.0              112.0                503.0
19      4217.0    183.0              152.0                168.0
20     46959.0   3879.0              748.0               2671.0
21     35724.0   3349.0              374.0               2199.0
22      1986.0    116.0               57.0                111.0
23      3909.0    252.0               95.0                202.0
24      5340.0    162.0              222.0                159.0
25      9850.0    640.0              321.0                525.0
26      2074.0    230.0               62.0                184.0
27      7776.0    410.0              259.0                341.0
28      4145.0    170.0              152.0                137.0
29      9732.0    592.0              263.0                535.0
...        ...      ...                ...                  ...
9336    7973.0    704.0              131.0                409.0
9337       NaN    597.0               76.0                325.0
9338    1795.0    107.0               55.0                 84.0
9339    9131.0    789.0               91.0                353.0
9340    8565.0    758.0               72.0                337.0
9341     566.0     31.0               19.0                 16.0
9342    5611.0    509.0               78.0                267.0
9343    2200.0    358.0                NaN                 14.0
9344   25311.0   2835.0              471.0                948.0
9345    8605.0   1026.0              115.0                360.0
9346    8352.0    920.0              135.0                267.0
9347    8354.0    889.0              221.0                321.0
9348    4052.0    303.0               52.0                158.0
9349   44288.0   5085.0              554.0               1596.0
9350   29323.0   3581.0              240.0               1045.0
9351   14965.0   1504.0              314.0                551.0
9352   23097.0   2768.0              283.0                797.0
9353   17450.0   2319.0              129.0                607.0
9354    5647.0    449.0              154.0                190.0
9355      45.0      4.0              659.0                  2.0
9356   29958.0   3050.0              298.0               1537.0
9357   15943.0    981.0              361.0                552.0
9358  285710.0  35449.0             3480.0              15487.0
9359       NaN    358.0                NaN                133.0
9360  285710.0  35091.0             3480.0              15354.0
9361  249850.0  31952.0             2879.0              13845.0
9362   35860.0   3139.0              601.0               1509.0
9363       NaN      NaN                NaN                  NaN
9364   20119.0   2021.0              290.0                909.0
9365   30950.0   2610.0              406.0               1321.0

                             Food group          Eating and drinking places  \
     Full workweek employees     Stores    Sales                     Stores
0                      175.0       82.0   2084.0                       13.0
1                      152.0       31.0   1037.0                       11.0
2                       23.0       51.0   1047.0                        2.0
3                      815.0      138.0   5822.0                      104.0
4                      184.0       17.0   1143.0                       11.0
5                      149.0       10.0    809.0                       14.0
6                      482.0      111.0   3870.0                       79.0
7                      408.0      166.0      3.0                       19.0
8                      317.0       40.0   1715.0                       11.0
9                       91.0      126.0   1486.0                        8.0
10                     254.0       60.0   1600.0                       14.0
11                     288.0      132.0   2385.0                       16.0
12                     214.0       20.0    745.0                        9.0
13                      74.0      112.0   1640.0                        7.0
14                     168.0       81.0   1301.0                       15.0
15                     152.0       33.0    759.0                        6.0
16                      16.0       48.0    542.0                        9.0
17                     548.0      137.0   3328.0                       17.0
18                     426.0       42.0   1800.0                       11.0
19                     122.0       95.0   1528.0                        6.0
20                    2136.0      316.0  13164.0                      110.0
21                    1788.0      126.0   7819.0                       72.0
22                      77.0       15.0    805.0                        6.0
23                     156.0       20.0   1069.0                       13.0
24                     115.0      155.0   3471.0                       19.0
25                     376.0      153.0   3270.0                       37.0
26                     126.0       24.0    531.0                        9.0
27                     250.0      129.0   2739.0                       28.0
28                     108.0       64.0   1028.0                        7.0
29                     378.0       93.0   2505.0                       30.0
...                      ...        ...      ...                        ...
9336                   317.0       23.0   1497.0                        0.0
9337                  -257.0       13.0      NaN                        NaN
9338                    60.0       10.0    420.0                       15.0
9339                   319.0       11.0   1726.0                       20.0
9340                   305.0        NaN   1588.0                       12.0
9341                    14.0        3.0    138.0                        8.0
9342                   235.0       17.0   1208.0                       16.0
9343                    14.0        1.0      NaN                        8.0
9344                   828.0       84.0   7104.0                       97.0
9345                   312.0       15.0   2299.0                       23.0
9346                   250.0       25.0   2453.0                       27.0
9347                   266.0       44.0   2352.0                       47.0
9348                   118.0        5.0    115.0                       12.0
9349                  1404.0       56.0   8025.0                      160.0
9350                   958.0       21.0   5176.0                       62.0
9351                   446.0       35.0   2849.0                       98.0
9352                   705.0       47.0   4011.0                       72.0
9353                   552.0       11.0   3192.0                       36.0
9354                   153.0       36.0    819.0                       36.0
9355                     1.0      281.0     15.0                      101.0
9356                  1395.0       96.0   7952.0                       57.0
9357                   477.0      185.0   7186.0                       44.0
9358                 13583.0        NaN      NaN                        NaN
9359                   133.0        NaN      NaN                        NaN
9360                 13450.0     1021.0  90064.0                      761.0
9361                 12171.0      790.0  72711.0                      618.0
9362                  1279.0      231.0  17353.0                      143.0
9363                     NaN        NaN      NaN                        NaN
9364                   814.0       85.0   5366.0                       65.0
9365                  1158.0      196.0  11428.0                       70.0

       ...    Automotive group Gasoline service stations           \
       ...               Sales                    Stores    Sales
0      ...               536.0                      24.0    646.0
1      ...               536.0                      10.0    178.0
2      ...                 NaN                      14.0    468.0
3      ...              3522.0                      76.0   1800.0
4      ...                 NaN                       7.0    288.0
5      ...                 NaN                       7.0    231.0
6      ...              1301.0                      62.0   1281.0
7      ...              1786.0                      22.0    455.0
8      ...              1418.0                       9.0    248.0
9      ...               368.0                      13.0    207.0
10     ...              1278.0                      17.0    421.0
11     ...              1642.0                      34.0    714.0
12     ...                 NaN                       8.0    304.0
13     ...                 NaN                      26.0    410.0
14     ...               474.0                       7.0    198.0
15     ...               474.0                       3.0    134.0
16     ...                 NaN                       4.0     64.0
17     ...              2664.0                      28.0    530.0
18     ...              1969.0                      10.0    292.0
19     ...               695.0                      18.0    238.0
20     ...             11105.0                      92.0   2690.0
21     ...              9834.0                      48.0   1758.0
22     ...                 NaN                       9.0    154.0
23     ...               746.0                       7.0    209.0
24     ...                 NaN                      28.0    569.0
25     ...              1159.0                      37.0    923.0
26     ...                 NaN                       6.0    154.0
27     ...                 NaN                      31.0    769.0
28     ...               686.0                      18.0    297.0
29     ...              1901.0                      33.0    717.0
...    ...                 ...                       ...      ...
9336   ...              1635.0                      24.0    735.0
9337   ...                 NaN                       7.0    262.0
9338   ...                 NaN                      17.0    473.0
9339   ...                 NaN                      12.0    630.0
9340   ...              1572.0                       8.0      NaN
9341   ...                 NaN                       4.0      NaN
9342   ...              1523.0                      12.0    624.0
9343   ...                 NaN                       NaN      NaN
9344   ...              1627.0                       1.0      NaN
9345   ...               945.0                       NaN      NaN
9346   ...               548.0                       NaN      NaN
9347   ...               134.0                       1.0      NaN
9348   ...                 NaN                       NaN      NaN
9349   ...              3436.0                      23.0    787.0
9350   ...              2517.0                       7.0    481.0
9351   ...               919.0                      16.0    306.0
9352   ...                 NaN                       8.0      NaN
9353   ...                 NaN                       3.0    373.0
9354   ...                 NaN                       5.0      NaN
9355   ...              9517.0                      45.0      1.0
9356   ...              9259.0                      15.0    689.0
9357   ...               258.0                      30.0    803.0
9358   ...                 NaN                       0.0      0.0
9359   ...                 NaN                       0.0      0.0
9360   ...             37973.0                     175.0  14206.0
9361   ...             33813.0                     127.0  11608.0
9362   ...              4160.0                      48.0   2598.0
9363   ...                 NaN                       0.0      0.0
9364   ...              3784.0                      30.0   1001.0
9365   ...              4228.0                      34.0      NaN

     Lumber building, hardware group         Drug and proprietary stores  \
                              Stores   Sales                      Stores
0                                3.0   353.0                         3.0
1                                3.0   353.0                         2.0
2                                NaN     NaN                         1.0
3                               31.0  2865.0                        14.0
4                                6.0   408.0                         NaN
5                                5.0   372.0                         2.0
6                               20.0  2085.0                         8.0
7                               13.0  1280.0                         8.0
8                                6.0   835.0                         4.0
9                                7.0   445.0                         4.0
10                               9.0   578.0                         3.0
11                              10.0   974.0                         3.0
12                               9.0     NaN                         2.0
13                               1.0     NaN                         1.0
14                               6.0   404.0                         3.0
15                               6.0   404.0                         3.0
16                               NaN     NaN                         NaN
17                              16.0  1666.0                         9.0
18                              10.0  1337.0                         4.0
19                               6.0   329.0                         5.0
20                              41.0  4141.0                        25.0
21                              25.0  3367.0                        14.0
22                               5.0     NaN                         2.0
23                               9.0   419.0                         3.0
24                               2.0     NaN                         6.0
25                               8.0   472.0                        11.0
26                               2.0     NaN                         4.0
27                               6.0     NaN                         7.0
28                               9.0   624.0                         3.0
29                              13.0   877.0                        10.0
...                              ...     ...                         ...
9336                            13.0   833.0                         3.0

In [31]:
file_path='./Data/Processed/'
writer = ExcelWriter(file_path+str(1935)+'_cleaned_190304.xlsx')
df_1935.to_excel(writer)
writer.save()

writer = ExcelWriter(file_path+str(1940)+'_cleaned_190304.xlsx')
df_1940.to_excel(writer)
writer.save()

writer = ExcelWriter(file_path+str(1948)+'_cleaned_190304.xlsx')
df_1948.to_excel(writer)
writer.save()